<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
    </ul>
    <p class="text-center text-body-secondary">© 2024 Company, Inc</p>

    <!-- 토스트 -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true"
             data-bs-delay="3000">
            <div class="toast-header">
                <strong class="me-auto" th:text="${toastDto?.title}">Bootstrap</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body" th:text="${toastDto?.message}">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

    <!-- !! alert 대신에 사용할 modal -->
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" style="display: none" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5 text-center" id="staticBackdropLabel" th:text="${modalDto?.title}">
                        Modal title
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="${modalDto?.content}" class="text-center">가용하지 않은 아이디입니다</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">
        const myModal = new bootstrap.Modal("#staticBackdrop");
        let isShow = /*[[${modalDto?.isShow}]]*/ false;
        console.log(isShow);
        if (isShow) {
            myModal.show();
        }

        const liveToast = document.querySelector("#liveToast")
        const toast = bootstrap.Toast.getOrCreateInstance(liveToast);
        let isToastShow = /*[[${toastDto?.isShow}]]*/ false
        console.log(isToastShow);
        if (isToastShow) {
            toast.show();
        }
    </script>
</footer>
</html>