<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head::myHead('WRITE')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header}"></header>
      <main>
        <h2 class="my-5 fw-bold">WRITE</h2>
        <form th:action="@{|/board/modify|}" method="post">
          <input type="hidden" name="id" th:value="${board.id}" />
          <div class="mb-3">
            <label for="title" class="form-label fw-bold">TITLE</label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder="title"
              th:value="${board.title}"
            />
          </div>
          <div class="mb-3">
            <label for="content" class="form-label fw-bold">CONTENT</label>
            <textarea
              class="form-control"
              id="content"
              rows="3"
              name="content"
              th:text="${board.content}"
            ></textarea>
          </div>
          <div class="mt-3">
            <button class="btn btn-primary">MODIFY</button>
          </div>
        </form>
      </main>
      <footer th:replace="~{fragments/footer}"></footer>
    </div>
  </body>
</html>
