<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{fragments/head::myHead('WRITE')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header}"></header>
      <main>
        <h2 class="my-5 fw-bold">LIST</h2>
        <table class="table">
          <colgroup>
            <col style="width: 10%" />
            <col style="width: 40%" />
            <col style="width: 10%" />
            <col style="width: 40%" />
          </colgroup>
          <tbody>
            <tr>
              <th>TITLE</th>
              <td colspan="3" th:text="${board.title}">제목</td>
            </tr>
            <tr>
              <th>WRITER</th>
              <td colspan="3" th:text="${board.writer.userName}">제목</td>
            </tr>
            <tr>
              <th>DATE</th>
              <td
                th:text="${#temporals.format(board.regDate,'yyyy/MM/dd HH:mm:ss (EE)')}"
              >
                20204/12/26 09:57:30
              </td>
              <th>HIT</th>
              <td th:text="1">20204/12/26 09:57:30</td>
            </tr>
            <tr>
              <th>CONTENT</th>
              <td colspan="3" th:text="${board.content}">내용</td>
            </tr>
          </tbody>
        </table>
        <div class="commentList mt-5">
          <p class="text-end"></p>
          <ul id="comment-list">
            <!-- <span th:text="${#temporals.createNow()}"></span> -->
            <th:block th:each="item:${board.commentList}">
              <li class="d-flex justify-content-between mb-2">
                <div>
                  <span th:text="${item.content}">내용이 들어갑니다.</span
                  ><span
                    th:text="${#temporals.format(item.regDate,'yyyy/MM/dd HH:mm:ss')}"
                    >2024/12/25 11:30:30</span
                  >
                  <span th:text="${item.writer.userName}"></span>
                </div>

                <div
                  th:if="${item.writer.userId==#authentication.principal.loggedMember.userId}"
                >
                  <button class="btn btn-sm btn-primary">MODIFY</button>
                  <button
                    class="btn btn-sm btn-danger ml-2 btn-del"
                    data-id="1"
                    th:data-id="${item.id}"
                  >
                    <span>DEL</span>
                  </button>
                </div>
              </li>
            </th:block>
            <!-- <li>
              <span>내용이 들어갑니다.</span><span>2024/12/25 11:30:30</span>
            </li>
            <li>
              <span>내용이 들어갑니다.</span><span>2024/12/25 11:30:30</span>
            </li>
            <li>
              <span>내용이 들어갑니다.</span><span>2024/12/25 11:30:30</span>
            </li> -->
          </ul>
        </div>
        <form
          th:action="@{|/comment/write/${board.id}|}"
          method="post"
          class="mt-5"
        >
          <div class="mb-3">
            <label for="content" class="form-label fw-bold">COMMENT</label>
            <textarea
              class="form-control"
              id="content"
              rows="3"
              name="content"
            ></textarea>
          </div>
          <div class="mt-3" sec:authorize="isAuthenticated()">
            <button class="btn btn-primary" id="btn-comment">COMMENT</button>
          </div>
        </form>
      </main>
      <footer th:replace="~{fragments/footer}"></footer>
    </div>

    <script th:inline="javascript">
      const btnDels = document.querySelectorAll(".btn-del");
      const commentList = document.querySelector("#comment-list");
      commentList.addEventListener("click", (e) => {
        //console.log(e.target);
        //console.log(e.currentTarget);
        //console.log(e.target.closest("button"));
        const btnDel = e.target.closest("button");
        // if (btnDel.dataset.id != undefined) {
        //   console.log(btnDel.dataset.id);
        // }
        if (btnDel.classList.contains("btn-del")) {
          e.preventDefault();
          const id = btnDel.dataset.id;
          if (confirm("삭제하시겠습니까?")) {
            fetch("/comment/delete/" + id, { method: "delete" })
              .then((response) => response.json())
              .then((json) => {
                console.log(json);
                if (json.isDelete === "ok") {
                  btnDel.parentNode.parentNode.remove();
                }
              });
          }
        } else {
          return null;
        }
      });
      // btnDels.forEach((item) => {
      //   item.addEventListener("click", (e) => {
      //     console.log(this);
      //     e.preventDefault();
      //     console.log(e.currentTarget.dataset.id);
      //     const _this = e.currentTarget;
      //     const id = _this.dataset.id;
      //     if (confirm("삭제하시겠습니까?")) {
      //       fetch("/comment/delete/" + id, { method: "delete" })
      //         .then((response) => response.json())
      //         .then((json) => {
      //           console.log(json);
      //           if (json.isDelete === "ok") {
      //             _this.parentNode.parentNode.remove();
      //           }
      //         });
      //     }
      //   });
      // });
      const sendURL =
        /*[[|/comment/write-ajax/${board.id}|]]*/ "/comment/write-ajax/3";
      const btnComment = document.querySelector("#btn-comment");
      const contentBox = document.querySelector("#content");
      btnComment.addEventListener("click", (e) => {
        const sendData = { content: contentBox.value };
        console.log(sendData);
        //e.preventDefault();
        fetch(sendURL, {
          method: "post",
          headers: { "Content-Type": "application/json;charset=UTF-8" },
          body: JSON.stringify(sendData),
        })
          .then((response) => response.json())
          .then((json) => {
            if (json.isInsert === "ok") {
              contentBox.value = "";
              commentList.innerHTML =
                `<li class="d-flex justify-content-between mb-2">
                <div>
                  <span>${json.insertComment.content}</span><span>${json.insertComment.regDate}</span>
                </div>
                <div>
                  <button class="btn btn-sm btn-primary">MODIFY</button>
                  <button class="btn btn-sm btn-danger ml-2 btn-del" data-id="${json.insertComment.id}">
                    <span>DEL</span>
                  </button>
                </div>
              </li>` + commentList.innerHTML;
            }
          });
      });
    </script>
  </body>
</html>
