<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head::myHead('WRITE')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header}"></header>
      <main>
        <h2 class="my-5 fw-bold">LIST</h2>
        <table class="table">
          <colgroup>
            <col style="width: 10%" />
            <col style="width: 40%" />
            <col style="width: 10%" />
            <col style="width: 40%" />
          </colgroup>
          <tbody>
            <tr>
              <th>TITLE</th>
              <td colspan="3" th:text="${board.title}">제목</td>
            </tr>
            <tr>
              <th>WRITER</th>
              <td colspan="3" th:text="아무개">제목</td>
            </tr>
            <tr>
              <th>DATE</th>
              <td
                th:text="${#temporals.format(board.regDate,'yyyy/MM/dd HH:mm:ss (EE)')}"
              >
                20204/12/26 09:57:30
              </td>
              <th>HIT</th>
              <td th:text="1">20204/12/26 09:57:30</td>
            </tr>
            <tr>
              <th>CONTENT</th>
              <td colspan="3" th:text="${board.content}">내용</td>
            </tr>
          </tbody>
        </table>
        <div class="commentList mt-5">
          <p
            class="text-end"
            th:text="|${board.commentList.size()}개의 댓글이 있습니다.|"
          ></p>
          <ul>
            <th:block th:each="item:${board.commentList}">
              <li class="d-flex justify-content-between mb-2">
                <div>
                  <span th:text="${item.content}">내용이 들어갑니다.</span
                  ><span
                    th:text="${#temporals.format(item.regDate,'yyyy/MM/dd HH:mm:ss (EE)')}"
                    >2024/12/25 11:30:30</span
                  >
                </div>
                <div>
                  <button class="btn btn-sm btn-primary">MODIFY</button>
                  <button class="btn btn-sm btn-danger ml-2">DEL</button>
                </div>
              </li>
            </th:block>
            <!-- <li>
              <span>내용이 들어갑니다.</span><span>2024/12/25 11:30:30</span>
            </li>
            <li>
              <span>내용이 들어갑니다.</span><span>2024/12/25 11:30:30</span>
            </li>
            <li>
              <span>내용이 들어갑니다.</span><span>2024/12/25 11:30:30</span>
            </li> -->
          </ul>
        </div>
        <form
          th:action="@{|/comment/write/${board.id}|}"
          method="post"
          class="mt-5"
        >
          <div class="mb-3">
            <label for="content" class="form-label fw-bold">COMMENT</label>
            <textarea
              class="form-control"
              id="content"
              rows="3"
              name="content"
            ></textarea>
          </div>
          <div class="mt-3">
            <button class="btn btn-primary">COMMENT</button>
          </div>
        </form>
      </main>
      <footer th:replace="~{fragments/footer}"></footer>
    </div>
  </body>
</html>
