<html xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head.html::myHead('LOGIN')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header}"></header>
      <main>
        <h2 class="mt-5 mb-5">FIND PASSWORD</h2>
        <form
          action="/member/login"
          th:action="@{|/mail/find-password|}"
          method="post"
        >
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              name="userEmail"
              placeholder="name@example.com"
              value=""
            />
            <label for="floatingInput">EMAIL</label>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <button class="btn btn-primary w-100 py-2">CONFIRM</button>
            </div>
          </div>
          <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
        </form>
      </main>
      <footer th:replace="~{fragments/footer}"></footer>
    </div>
  </body>
</html>
