<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <script src="/js/isotope.pkgd.min.js"></script>
  </head>
  <body>
    <ul id="list"></ul>
    <script>
      const list = document.querySelector("#list");
      fetch("../gallery/json")
        .then((response) => response.json())
        .then((json) => {
          json.forEach((element) => {
            list.innerHTML += `
                <li class="item">
                    <img src="/upload/${element.renameFileName}" />
                    <h2>${element.title}</h2>
                    <p>${element.description}</p>
                </li>
            `;
          });

          const galleryIsotope = new Isotope(list, {
            // options
            itemSelector: ".item",
            layoutMode: "masonry",
          });
        });
    </script>
  </body>
</html>
