<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="/css/layout.css" />
    <script src="/js/isotope.pkgd.min.js"></script>
  </head>
  <body>
    <header>
      <h1>portfolio</h1>
    </header>
    <div class="filter-box">
      <button data-filter="item">ALL</button>
      <button
        th:each="item:${category}"
        th:text="${item.key}"
        th:attr="data-filter=${item.key}"
      ></button>
    </div>
    <ul id="list" class="list"></ul>
    <script>
      const list = document.querySelector("#list");
      fetch("../gallery/json")
        .then((response) => response.json())
        .then((json) => {
          json.forEach((element) => {
            list.innerHTML += `
                <li class="item ${element.category}">
                    <img src="/upload/${element.renameFileName}" />
                    <h2>${element.title}</h2>
                    <p>${element.description}</p>
                </li>
            `;
          });

          const galleryIsotope = new Isotope(list, {
            itemSelector: ".item",
            layoutMode: "masonry",
          });
          const btns = document.querySelectorAll(".filter-box button");
          btns.forEach((item) => {
            item.addEventListener("click", () => {
              console.log(item.dataset.filter);
              //const filterClass = "." + item.dataset.filter;
              const filterClass = `. item.dataset.filter`;
              galleryIsotope.arrange({ filter: filterClass });
            });
          });
        });
    </script>
  </body>
</html>
