<html xmlns:th="http://thymeleaf.org">
<head th:replace="~{fragments/head::myHead('INFO')}"></head>
<body>
<div class="container">
  <header th:replace="~{fragments/header}"></header>
  <main>
    <h2 class="mt-5 mb-5">MY PAGE</h2>
    <table class="table">
      <colgroup>
        <col style="width:150px">
        <col>
      </colgroup>
      <tbody>
        <tr>
          <th>USER ID</th>
          <td th:text="${infoMember.userId}">jjang051</td>
        </tr>
        <tr>
          <th>USER NAME</th>
          <td th:text="${infoMember.userName}">jjang051</td>
        </tr>
        <tr>
          <th>USER EMAIL</th>
          <td th:text="${infoMember.userEmail}">jjang051</td>
        </tr>
        <tr>
          <th>ADDRESS</th>
          <td th:text="${infoMember.address}">jjang051</td>
        </tr>
        <tr>
          <th>REGDATE</th>
          <td th:text="${infoMember.regDate}">jjang051</td>
        </tr>
        <tr>
          <th>TEL</th>
          <td th:text="${infoMember.tel}">jjang051</td>
        </tr>
      </tbody>
    </table>
    <div class="mt-5 d-flex justify-content-center gutter-1">
      <a href="/member/delete/jjang051" class="btn btn-primary">DELETE</a>
      <button class="btn btn-primary mx-1" id="btn-delete-ajax">DELETE AJAX</button>
      <a href="/member/modify" class="btn btn-primary">MODIFY</a>
    </div>
  </main>
  <footer th:replace="~{fragments/footer}"></footer>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">회원탈퇴</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="../member/delete" method="post">
            <div class="form-floating mt-2">
              <input type="password" class="form-control" id="userPw" placeholder="Password" name="userPw">
              <label for="userPw">Password</label>
            </div>
            <button class="btn btn-primary w-100 py-2 mt-2" type="submit" id="btn-send">DELETE</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">DELETE</button>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">

    const deleteModal = new bootstrap.Modal("#deleteModal");
    const btnDeleteAjax=document.querySelector("#btn-delete-ajax");
    const btnSend= document.querySelector("#btn-send");
    const userPw= document.querySelector("#userPw");
    let loggedMemberUserId = /*[[ ${session?.loggedMemberDto?.userId} ]]*/ "test";
    console.log("loggedMemberUserId==="+loggedMemberUserId);
    //$("#btn-delete-ajax").on()
    btnDeleteAjax.addEventListener("click",()=>{
      deleteModal.show();
    });
    btnSend.addEventListener("click",(e)=>{
      e.preventDefault();
      const sendData = {
        userId:loggedMemberUserId,
        userPw:userPw.value
      }
      fetch("../member/delete",{
        method:"delete",
        body:JSON.stringify(sendData),

        headers:{
          "Content-Type":"application/json"
        }
      })
              .then(response=>response.json())
              .then(json=>{
                if(json.delete==="success") {
                  alert("지워졌습니다.")
                  location.href="../index/index";
                }else {
                  alert("비밀번호확인해주세요.")
                }
              });
    });


  </script>
</div>
</body>
</html>

