<html>
<head>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/44.0.0/ckeditor5.css" crossorigin>
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <link rel="stylesheet" href="../css/layout.css">
    <script src="../js/swiper-bundle.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/44.0.0/ckeditor5.umd.js" crossorigin></script>

    <script src="https://cdn.ckbox.io/ckbox/2.6.1/ckbox.js" crossorigin></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a href="../" class="d-inline-flex link-body-emphasis text-decoration-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                     class="bi bi-bootstrap-fill" viewBox="0 0 16 16">
                    <path d="M6.375 7.125V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H6.375z"/>
                    <path d="M4.002 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4zm1.06 12V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396z"/>
                </svg>
            </a>
        </div>
        <div class="col-md-3 text-end">
            <a href="../member/login" class="btn btn-outline-primary">Login</a>
            <a href="../member/signup" class="btn btn-primary">Sign-up</a>
            <a href="../board/list" class="btn btn-primary">Board</a>
        </div>
    </header>
    <main>
        <h2 class="mt-5 mb-5">SIGN UP</h2>
        <form action="../member/signup" method="post">
            <div class="mb-3">
                <label for="userId" class="form-label fw-bold fs-5">USER ID</label>
                <div class="row g-2">
                    <div class="col-10">
                        <input type="text" class="form-control form-control" name="userId" id="userId"
                               placeholder="USER ID">
                    </div>
                    <div class="col-2">
                        <button class="btn  btn btn-primary w-100" id="btn-duplicate-id">아이디 중복 학인</button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="userPw" class="form-label fw-bold fs-5">PASSWORD</label>
                <input type="text" class="form-control form-control" name="userPw" id="userPw"
                       placeholder="PASSWORD">
            </div>
            <div class="mb-3">
                <label for="userName" class="form-label fw-bold fs-5">USER NAME</label>
                <input type="text" class="form-control form-control" name="userName" id="userName"
                       placeholder="USER NAME">
            </div>
            <div class="mb-3">
                <label for="userEmail" class="form-label fw-bold fs-5">EMAIL</label>
                <div class="row g-2">
                    <div class="col-10">
                        <input type="text" class="form-control form-control" name="userEmail" id="userEmail"
                               placeholder="name@example.com">
                    </div>
                    <div class="col-2">
                        <button class="btn  btn btn-primary w-100" id="btn-duplicate-email">이메일 중복 학인</button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="zipcode" class="form-label fw-bold fs-5">ZIPCODE</label>
                <div class="row g-2">
                    <div class="col-10">
                        <input type="text" class="form-control form-control" name="zipcode" id="zipcode"
                               placeholder="ZIPCODE">
                    </div>
                    <div class="col-2">
                        <button class="btn btn-primary btn w-100" id="btn-zipcode">우편번호 검색</button>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="addr01" class="form-label fw-bold fs-5">ADDRESS</label>
                <input type="text" class="form-control form-control" name="addr01" id="addr01"
                       placeholder="ADDRESS">
            </div>
            <div class="mb-3">
                <label for="addr02" class="form-label fw-bold fs-5">DETAIL ADDRESS</label>
                <input type="text" class="form-control form-control" name="addr02" id="addr02"
                       placeholder="ADDRESS">
            </div>
            <div class="mb-3">
                <label for="addr02" class="form-label fw-bold fs-5">TEL</label>
                <input type="text" class="form-control form-control" name="tel" id="tel" placeholder="TEL">
            </div>
            <div class="mb-3">
                <label for="profile" class="form-label fw-bold fs-5">PROFILE</label>
                <input type="file" class="form-control form-control" name="profile" id="profile"
                       placeholder="profile">
            </div>
            <div class="mt-5">
                <button class="btn btn-primary">SIGN UP</button>
            </div>
        </form>
    </main>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <svg class="bi" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#twitter"></use>
                </svg>
            </a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#instagram"></use>
                </svg>
            </a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <svg class="bi" width="24" height="24">
                    <use xlink:href="#facebook"></use>
                </svg>
            </a></li>
        </ul>
    </footer>
</div>
</body>
</html>

