<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head th:replace="~{fragments/head::myHead('WRITE')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header}"></header>
      <main>
        <h2 class="my-5 fw-bold">LIST</h2>
        <div class="commentList mt-5">
          <p class="text-end"></p>
          <ul id="comment-list">
            <!-- <span th:text="${#temporals.createNow()}"></span> -->
            <th:block th:each="item:${boardList}">
              <li class="d-flex justify-content-between mb-2">
                <div>
                  <span th:text="${item.content}">내용이 들어갑니다.</span
                  ><span
                    th:text="${#temporals.format(item.regDate,'yyyy/MM/dd HH:mm:ss')}"
                    >2024/12/25 11:30:30</span
                  >
                  <span th:text="${item.writer.userName}"></span>
                </div>

                <div
                  th:if="${item.writer.userId==#authentication.principal.loggedMember.userId}"
                >
                  <button class="btn btn-sm btn-primary">MODIFY</button>
                  <button
                    class="btn btn-sm btn-danger ml-2 btn-del"
                    data-id="1"
                    th:data-id="${item.id}"
                  >
                    <span>DEL</span>
                  </button>
                </div>
              </li>
            </th:block>
            <!-- <li>
              <span>내용이 들어갑니다.</span><span>2024/12/25 11:30:30</span>
            </li>
            <li>
              <span>내용이 들어갑니다.</span><span>2024/12/25 11:30:30</span>
            </li>
            <li>
              <span>내용이 들어갑니다.</span><span>2024/12/25 11:30:30</span>
            </li> -->
          </ul>
        </div>
      </main>
      <footer th:replace="~{fragments/footer}"></footer>
    </div>
  </body>
</html>
