<html xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head.html::myHead('LOGIN')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header}"></header>
      <main>
        <h2 class="mt-5 mb-5">LOGIN</h2>
        <form
          action="/member/login"
          th:action="@{|/member/login|}"
          method="post"
        >
          <h2 class="h3 my-5 fw-bold">Please sign in</h2>
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              id="floatingInput"
              name="userId"
              placeholder="name@example.com"
              value=""
            />
            <label for="floatingInput">User ID</label>
          </div>
          <div class="form-floating mt-2">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
              name="password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <div
            class="mt-2"
            th:text="${param.errorMsg}"
            th:if="${param.error}"
            style="color: #f00"
          >
            에러 메세지
          </div>

          <div class="form-check text-start my-3">
            <input
              class="form-check-input"
              type="checkbox"
              name="rememberMe"
              value="remember-me"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Remember me
            </label>
          </div>
          <div class="row">
            <div class="col-6">
              <button class="btn btn-primary w-100 py-2">Sign in</button>
            </div>
            <div class="col-6">
              <a
                href=""
                th:href="@{|/mail/find-password|}"
                class="btn btn-primary w-100 py-2"
              >
                비밀번호 찾기
              </a>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4">
              <a
                href="/oauth2/authorization/google"
                class="btn btn-outline-primary w-100"
                >구글로그인</a
              >
            </div>
            <div class="col-4">
              <a
                href="/oauth2/authorization/kakao"
                class="btn btn-outline-primary w-100"
                >카카오로그인</a
              >
            </div>
          </div>
          <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
        </form>
      </main>
      <footer th:replace="~{fragments/footer}"></footer>
    </div>
  </body>
</html>
