<html xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head::myHead('SIGNUP')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header}"></header>
      <main>
        <h2 class="mt-5 mb-5">SIGN UP</h2>
        <form
          action="../member/signup"
          method="post"
          th:action="@{/member/modify}"
          enctype="multipart/form-data"
        >
          <input
            type="hidden"
            name="id"
            value="1"
            th:value="${#authentication.principal.loggedMember.id}"
          />
          <div class="mb-3">
            <label for="userId" class="form-label fw-bold fs-5">USER ID</label>
            <input
              readonly
              type="text"
              class="form-control form-control"
              name="userId"
              id="userId"
              placeholder="USER ID"
              value="jjang051"
              th:value="${#authentication.principal.loggedMember.userId}"
            />
          </div>
          <div class="mb-3">
            <label for="userPw" class="form-label fw-bold fs-5">PASSWORD</label>
            <input
              type="text"
              class="form-control form-control"
              name="password"
              id="userPw"
              placeholder="PASSWORD"
            />
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label fw-bold fs-5"
              >USER NAME</label
            >
            <input
              type="text"
              class="form-control form-control"
              name="userName"
              id="userName"
              placeholder="USER NAME"
              value="장성호"
              th:value="${#authentication.principal.loggedMember.userName}"
            />
          </div>
          <div class="mb-3">
            <label for="userEmail" class="form-label fw-bold fs-5">EMAIL</label>
            <div class="row g-2">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control form-control"
                  name="userEmail"
                  id="userEmail"
                  placeholder="name@example.com"
                  th:value="${#authentication.principal.loggedMember.userEmail}"
                />
              </div>
              <div class="col-2">
                <button
                  class="btn btn btn-primary w-100"
                  id="btn-duplicate-email"
                >
                  이메일 중복 학인
                </button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="zipcode" class="form-label fw-bold fs-5">ZIPCODE</label>
            <div class="row g-2">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control form-control"
                  name="zipcode"
                  id="zipcode"
                  placeholder="ZIPCODE"
                  th:value="${#authentication.principal.loggedMember.zipcode}"
                />
              </div>
              <div class="col-2">
                <button class="btn btn-primary btn w-100" id="btn-zipcode">
                  우편번호 검색
                </button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="addr01" class="form-label fw-bold fs-5">ADDRESS</label>
            <input
              type="text"
              class="form-control form-control"
              name="addr01"
              id="addr01"
              placeholder="ADDRESS"
              th:value="${#authentication.principal.loggedMember.addr01}"
            />
          </div>
          <div class="mb-3">
            <label for="addr02" class="form-label fw-bold fs-5"
              >DETAIL ADDRESS</label
            >
            <input
              type="text"
              class="form-control form-control"
              name="addr02"
              id="addr02"
              placeholder="ADDRESS"
              th:value="${#authentication.principal.loggedMember.addr02}"
            />
          </div>
          <div class="mb-3">
            <label for="addr02" class="form-label fw-bold fs-5">TEL</label>
            <input
              type="text"
              class="form-control form-control"
              name="tel"
              id="tel"
              placeholder="TEL"
              th:value="${#authentication.principal.loggedMember.tel}"
            />
          </div>
          <div class="mb-3">
            <label for="profile" class="form-label fw-bold fs-5">PROFILE</label>
            <input
              type="file"
              class="form-control form-control"
              name="profile"
              id="profile"
              placeholder="profile"
            />
          </div>
          <div class="mt-5">
            <button class="btn btn-primary">SIGN UP</button>
          </div>
        </form>
      </main>
      <footer th:replace="~{fragments/footer}"></footer>
    </div>
    <script>
      const btnDuplicateId = document.querySelector("#btn-duplicate-id");
      const userId = document.querySelector("#userId");
      btnDuplicateId.addEventListener("click", (e) => {
        e.preventDefault();
        fetch("../member/id-check?userId=" + userId.value)
          .then((response) => response.json())
          .then((json) => {
            console.log(json); //{count:0}
            if (json.count > 0) {
              alert("쓸 수 없는 아이디입니다.");
            } else {
              let used = confirm("쓸 수 있는 아이디입니다. 사용하시겠습니까?");
              if (!used) {
                userId.value = "";
                userId.focus();
              }
            }
          });
      });
    </script>
  </body>
</html>
