<html xmlns:th="http://thymeleaf.org">
  <head th:replace="~{fragments/head::myHead('SIGNUP')}"></head>
  <body>
    <div class="container">
      <header th:replace="~{fragments/header}"></header>
      <main>
        <h2 class="mt-5 mb-5">SIGN UP</h2>
        <form
          action="../member/signup"
          method="post"
          th:action="@{/member/signin}"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="userId" class="form-label fw-bold fs-5">USER ID</label>
            <div class="row g-2">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control form-control"
                  name="userId"
                  id="userId"
                  placeholder="USER ID"
                />
              </div>
              <div class="col-2">
                <button class="btn btn btn-primary w-100" id="btn-duplicate-id">
                  아이디 중복 학인
                </button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="userPw" class="form-label fw-bold fs-5">PASSWORD</label>
            <input
              type="text"
              class="form-control form-control"
              name="password"
              id="userPw"
              placeholder="PASSWORD"
            />
          </div>
          <div class="mb-3">
            <label for="userName" class="form-label fw-bold fs-5"
              >USER NAME</label
            >
            <input
              type="text"
              class="form-control form-control"
              name="userName"
              id="userName"
              placeholder="USER NAME"
            />
          </div>
          <div class="mb-3">
            <label for="userEmail" class="form-label fw-bold fs-5">EMAIL</label>
            <div class="row g-2">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control form-control"
                  name="userEmail"
                  id="user-email"
                  placeholder="name@example.com"
                />
              </div>
              <div class="col-2">
                <button class="btn btn btn-primary w-100" id="btn-send-email">
                  인증번호받기
                </button>
              </div>
            </div>
          </div>
          <div class="mb-3 blind" id="email-confirm">
            <div class="row g-2">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control form-control"
                  name="userEmailConfirm"
                  id="user-email-confirm"
                  placeholder="이메일 인증번호"
                />
              </div>
              <div class="col-2">
                <button
                  class="btn btn btn-primary w-100"
                  id="btn-email-confirm"
                >
                  이메일 인증
                </button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="zipcode" class="form-label fw-bold fs-5">ZIPCODE</label>
            <div class="row g-2">
              <div class="col-10">
                <input
                  type="text"
                  class="form-control form-control"
                  name="zipcode"
                  id="zipcode"
                  placeholder="ZIPCODE"
                />
              </div>
              <div class="col-2">
                <button class="btn btn-primary btn w-100" id="btn-zipcode">
                  우편번호 검색
                </button>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="addr01" class="form-label fw-bold fs-5">ADDRESS</label>
            <input
              type="text"
              class="form-control form-control"
              name="addr01"
              id="addr01"
              placeholder="ADDRESS"
            />
          </div>
          <div class="mb-3">
            <label for="addr02" class="form-label fw-bold fs-5"
              >DETAIL ADDRESS</label
            >
            <input
              type="text"
              class="form-control form-control"
              name="addr02"
              id="addr02"
              placeholder="ADDRESS"
            />
          </div>
          <div class="mb-3">
            <label for="tel" class="form-label fw-bold fs-5">TEL</label>
            <input
              type="text"
              class="form-control form-control"
              name="tel"
              id="tel"
              placeholder="TEL"
            />
          </div>
          <div class="mb-3">
            <label for="profile" class="form-label fw-bold fs-5">PROFILE</label>
            <input
              type="file"
              class="form-control form-control"
              name="profile"
              id="profile"
              placeholder="profile"
            />
          </div>
          <div class="mt-5">
            <button class="btn btn-primary">SIGN UP</button>
          </div>
        </form>
      </main>
      <footer th:replace="~{fragments/footer}"></footer>
    </div>
    <script>
      const btnSendEmail = document.querySelector("#btn-send-email");
      const btnEmailConfirm = document.querySelector("#btn-email-confirm");
      const emailConfirm = document.querySelector("#email-confirm");
      const userEmail = document.querySelector("#user-email");
      const userEmailConfirm = document.querySelector("#user-email-confirm");
      btnSendEmail.addEventListener("click", (e) => {
        e.preventDefault();
        if (userEmail.value.trim() === "") {
          alert("이메일을 확인해주세요.");
          return;
        }
        const sendData = { email: userEmail.value };
        console.log(sendData);
        fetch("../mail/confirm", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(sendData),
        })
          .then((response) => response.json())
          .then((json) => {
            alert("인증메일이 발송되었습니다.");
            btnEmailConfirm.addEventListener("click", (e) => {
              e.preventDefault();
              if (userEmailConfirm.value.trim() === json.confirmNumber) {
                alert("인증되었습니다.");
              }
            });
            console.log(json);
          });
        emailConfirm.classList.remove("blind");
      });
    </script>
  </body>
</html>
